@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.blog-heading {
  font-size: 16px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  width: 0;
  animation: typing 6s steps(30, end) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 130px;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.create-blogs {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blogImg {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-image: url("sideBlogs.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.927);
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.formValidation {
  width: 100%;
  max-width: 500px;
  padding: 25px 20px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.formValidation > p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-weight: 800;
  text-align: center;
}

.formValidation > input,
.formValidation > textarea {
  width: 96%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  background: #fff;
}

.formValidation > input:focus,
.formValidation > textarea:focus {
  background-color: #f9f9f9;
  outline: none;
  border: 1px solid #7b61ff;
}

.formValidation > textarea {
  resize: none;
  height: 80px;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.upload-box {
  width: 180px;
  height: 180px;
  border: 1px solid #717172;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.upload-box:hover {
  background-color: #f3f4f6;
  border: 1px solid #0066ff;
}

.plus-icon {
  font-size: 48px;
  color: #898989;
  transition: opacity 0.3s ease;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden-file {
  display: none;
}

.createBlogBtn {
  width: 100%;
  height: 42px;
  background: #7b61ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.4s ease;
}

.createBlogBtn:hover {
  background: #5a44d1;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 5px 15px rgba(123, 97, 255, 0.3);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  background-color: #f5f5f5;
  color: #444;
  font-size: 14px;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .navbar {
    height: 40px;
  }
  .blog-heading {
    font-size: 14px;
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 120px;
    }
    100% {
      width: 0;
    }
  }
  .blogImg {
    display: none;
  }
  .formValidation {
    margin-top: 4px;
  }
  .formValidation {
    width: 82%;
  }
  .footer {
    height: 40px;
    width: 100%;
  }
  .footer > span {
    font-size: 12px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .blogImg {
    display: none;
  }
  .formValidation {
    width: 78%;
  }
  .footer {
    width: 100%;
  }
}
